In [43]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# get your cfu counting excel

In [44]:
directory = 'C:/Users/geeze/Desktop/'

filename = 'cfu_counts.xlsx'

df = pd.read_excel(directory + filename)

In [45]:
df

,well,time,c,y,b,sample dil,dil,ul,conc_c,conc_y,conc_b,notes
0,D2,18.000,355,56,411,4,50,20,3550000,560000,4110000,NaN
1,D2,18.001,25,7,32,4,25,10,250000,70000,320000,possible label mix up between 25x dil and 50x dil
2,D2,18.001,45,6,51,4,50,10,900000,120000,1020000,possible label mix up between 25x dil and 50x dil
3,D2,0.000,1,3,4,4,300,10,120000,360000,480000,NaN
4,D2,0.000,2,9,11,4,50,10,40000,180000,220000,NaN
5,A1,0.000,20,32,52,4,20,10,160000,256000,416000,NaN
6,A2,0.000,18,14,32,4,20,10,144000,112000,256000,NaN
7,A3,0.000,24,61,85,4,20,10,192000,488000,680000,NaN
8,A4,0.000,38,39,77,4,20,10,304000,312000,616000,NaN
9,B1,0.000,35,38,73,4,20,10,280000,304000,584000,NaN
10,B2,0.000,15,19,34,4,20,10,120000,152000,272000,NaN
11,B3,0.000,39,33,72,4,20,10,312000,264000,576000,NaN
12,B4,0.000,29,27,56,4,20,10,232000,216000,448000,NaN
13,C1,0.000,49,47,96,4,20,10,392000,376000,768000,NaN
14,C2,0.000,26,16,42,4,20,10,208000,128000,336000,NaN
15,C3,0.000,41,83,124,4,20,10,328000,664000,992000,NaN
16,C4,0.000,24,24,48,4,20,10,192000,192000,384000,NaN
17,D1,0.000,10,19,29,4,20,10,80000,152000,232000,NaN
18,D2,0.000,18,31,49,4,20,10,144000,248000,392000,NaN
19,D3,0.000,25,37,62,4,20,10,200000,296000,496000,NaN
20,D4,0.000,23,28,51,4,20,10,184000,224000,408000,NaN
21,E1,0.000,17,25,42,4,20,10,136000,200000,336000,NaN
22,E2,0.000,17,14,31,4,20,10,136000,112000,248000,NaN
23,E3,0.000,8,25,33,4,20,10,64000,200000,264000,NaN
24,E4,0.000,9,14,23,4,20,10,72000,112000,184000,NaN
25,F1,0.000,9,13,22,4,20,10,72000,104000,176000,NaN
26,F2,0.000,9,12,21,4,20,10,72000,96000,168000,NaN
27,F3,0.000,23,34,57,4,20,10,184000,272000,456000,NaN
28,F4,0.000,32,55,87,4,20,10,256000,440000,696000,NaN
29,G1,0.000,41,43,84,4,20,10,328000,344000,672000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
144,A3,23.000,3,104,107,4,100,10,120000,4160000,4280000,NaN
145,A4,23.000,10,7,17,4,100,10,400000,280000,680000,NaN
146,B1,23.000,0,2,2,4,100,10,0,80000,80000,NaN
147,B2,23.000,2,0,2,4,100,10,80000,0,80000,NaN
148,B3,23.000,0,1,1,4,100,10,0,40000,40000,NaN
149,B4,23.000,12,2,14,4,100,10,480000,80000,560000,NaN
150,C1,23.000,0,1,1,4,100,10,0,40000,40000,NaN
151,C2,23.000,0,0,0,4,100,10,0,0,0,NaN
152,C3,23.000,18,141,159,4,100,10,720000,5640000,6360000,NaN
153,C4,23.000,1,0,1,4,100,10,40000,0,40000,NaN
154,D1,23.000,0,0,0,4,100,10,0,0,0,NaN
155,D2,23.000,1,0,1,4,100,10,40000,0,40000,NaN
156,D3,23.000,0,4,4,4,100,10,0,160000,160000,NaN
157,D4,23.000,0,0,0,4,100,10,0,0,0,NaN
158,E1,23.000,1,11,12,4,100,10,40000,440000,480000,NaN
159,E2,23.000,155,156,311,4,100,10,6200000,6240000,12440000,NaN
160,E3,23.000,22,219,241,4,100,10,880000,8760000,9640000,NaN
161,E4,23.000,71,94,165,4,100,10,2840000,3760000,6600000,NaN
162,F1,23.000,12,48,60,4,100,10,480000,1920000,2400000,NaN
163,F2,23.000,4,0,4,4,100,10,160000,0,160000,NaN
164,F3,23.000,7,40,47,4,100,10,280000,1600000,1880000,NaN
165,F4,23.000,144,61,205,4,100,10,5760000,2440000,8200000,NaN
166,G1,23.000,21,152,173,4,100,10,840000,6080000,6920000,NaN
167,G2,23.000,0,1,1,4,100,10,0,40000,40000,NaN
168,G3,23.000,21,197,218,4,100,10,840000,7880000,8720000,NaN
169,G4,23.000,0,0,0,4,100,10,0,0,0,NaN
170,H1,23.000,0,0,0,4,100,10,0,0,0,NaN
171,H2,23.000,1,0,1,4,100,10,40000,0,40000,NaN
172,H3,23.000,13,106,119,4,100,10,520000,4240000,4760000,NaN
173,H4,23.000,6,0,6,4,100,10,240000,0,240000,NaN

## do well ID info association

In [46]:
def add_id_info (data_sheet_melted, df_id):
    
    #make a copy of the dataframe so you can return the new one and set whatever name you want
    df = data_sheet_melted.copy()

    #initialize the columns to be used to store ID info
    all_id_columns = [col for col in df_id.columns if col not in 'well']

    for c in all_id_columns:
        df[c] = np.nan

    #get the list of all the wells you want to annotate
    wells = np.unique(data_sheet_melted['well'])

    #loop over these wells and add the information to the initialized columns
    for w in wells:
        #get the ID information for this well
        append_this = df_id.loc[df_id['well'] == w, :]

        #loop over each column containing a unique piece of ID info
        for c in all_id_columns:

            #set the value for that column for that well
            df.loc[df['well'] == w, c] = append_this[c].values
                                                                #have to use .values otherwise index carries along and only
                                                                #sets the value for the data table index equal to the
                                                                #id table index

    return df

In [47]:
df_id = pd.read_excel(directory + '/' + '20190214 A=B mar 1.xlsx', sheet_name='IDs')

In [48]:
df = add_id_info(df, df_id)

## calculate fractions

In [49]:
df['frac_c'] = df['conc_c'] / df['conc_b']

In [50]:
# save the new cfu data

df.to_csv(directory + '/' + 'cfu_counts.csv', index=False)